<style>
  .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: "Open Sans", sans-serif;
  }
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
  }
  #signupLogo {
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .formTitle {
    font-weight: 600;
    margin-top: 20px;
    color: #2f2d3b;
    text-align: center;
  }
  .inputLabel {
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
  }
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  input {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    border: solid 1px #ccc;
    padding: 0 11px;
  }
  input:disabled {
    cursor: not-allowed;
    border: solid 1px #eee;
  }
  .buttonWrapper {
    margin-top: 40px;
  }
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .subbut {
    width: 20%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: green;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .submitButton:disabled,
  button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
</style>
<body>
  <div class="alert" id="aler">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    <div id="text"></div>
  </div>
  <div class="mainDiv">
    <div class="cardStyle">
      <!-- <form action="/forgetpassword" method="POST"> -->
      <form onsubmit="submitHandler(event);">
        <h2 class="formTitle">FORGET PASSWORD</h2>
        <img src="" id="signupLogo" />

        <div class="inputDiv">
          <label class="inputLabel" for="email">Email : </label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="buttonWrapper">
          <button
            type="submit"
            id="submitButton"
            class="submitButton pure-button pure-button-primary"
          >
            Continue
          </button>
          <br />
        </div>
      </form>
      <button id="login" onclick="window.location.replace('/login');" class="subbut pure-button pure-button-primary">
        login
      </button>
    </div>
  </div>
</body>
<script>
  var aler = document.getElementById("aler");
  aler.style.display = "none";
  const text = document.getElementById("text");
  const email = document.getElementById("email");
  const button = document.getElementById("submitButton");

  document.getElementById("signupLogo").src =
    "https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png";
  enableSubmitButton();

  async function handleError(res) {
    if (!res.ok) {
      res = await res.json();
      throw new Error(res.msg);
    } else return res.json();
  }

  function submitHandler(event) {
    event.preventDefault();
    submitButton.disabled = true;
    fetch("/forgetpassword", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email: email.value }),
    })
      .then(handleError)
      .then((res) => {
        console.log("Check your email");
        aler.style.display = "block";
        text.style.display = "block";
        aler.style.backgroundColor = "green";
        text.innerHTML =
          "<strong>Success:</strong> We have sent the reset link to your email";
      })
      .catch((err) => {
        submitButton.disabled = false;
        aler.style.display = "block";
        text.style.display = "block";
        aler.style.backgroundColor = "red";
        text.innerHTML = "<strong>Success:</strong> " + err;
        console.log(err);
      });
  }
</script>
